<div class="sidenav-header">
  <img src="assets/images/logo-white.svg" alt="ITSC" class="sidenav-logo" />
  <div>
    <div class="app-name">ITSC</div>
    <div class="app-logo">AcademiaDigital</div>
  </div>
</div>

<span class="nav-group-label">Navegación</span>

<mat-nav-list>
  <a mat-list-item
     *ngFor="let item of menuItems"
     [routerLink]="item.url"
     routerLinkActive="active-link"
     (click)="onItemClick()">
    <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
    <span matListItemTitle>{{ item.title }}</span>
  </a>
</mat-nav-list>
