<span class="nav-group-label" id="navigation-label">Navegación</span>
<mat-nav-list aria-labelledby="navigation-label">
  <ng-container *ngFor="let item of menuItems">
    <a *ngIf="!item.children" mat-list-item
       [routerLink]="item.url" routerLinkActive="active-link"
       ariaCurrentWhenActive="page" (click)="onItemClick()">
      <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
      <span matListItemTitle>{{ item.title }}</span>
    </a>

    <mat-expansion-panel *ngIf="item.children" class="menu-panel">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>{{ item.icon }}</mat-icon>
          <span class="menu-title">{{ item.title }}</span>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <a mat-list-item class="submenu-link" *ngFor="let child of item.children"
         [routerLink]="child.url" routerLinkActive="active-link"
         ariaCurrentWhenActive="page" (click)="onItemClick()">
        <span matListItemTitle>{{ child.title }}</span>
      </a>
    </mat-expansion-panel>
  </ng-container>
</mat-nav-list>
