<mat-sidenav-container class="sidenav-container">

  <mat-sidenav #sidenav
    class="sidenav"
    [mode]="isMobile ? 'over' : 'side'"
    [opened]="!isMobile">
    <app-navigation (menuItemClick)="isMobile && sidenav.close()"></app-navigation>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary" class="main-toolbar">
      <button mat-icon-button (click)="toggleSidenav()" aria-label="Toggle menu">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="toolbar-title">AcademiaDigital</span>
      <span class="spacer"></span>
      <app-nav-right></app-nav-right>
    </mat-toolbar>

    <main class="main-content">
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>

</mat-sidenav-container>
