<div class="page-header">
  <h1>Perfil</h1>
  <p>Datos personales y contraseña</p>
</div>

<!-- LOADING -->
<div *ngIf="isLoadingProfile" class="loading-wrapper">
  <mat-spinner diameter="40"></mat-spinner>
</div>

<div *ngIf="!isLoadingProfile" class="profile-layout">

  <!-- =============================================
       DATOS PERSONALES
  ============================================= -->
  <mat-card class="profile-card">
    <div class="section-badge">
      <mat-icon>person</mat-icon>
      <span>Datos personales</span>
    </div>

    <mat-card-content>
      <form [formGroup]="profileForm">

      <div class="profile-grid">
      <!-- EMAIL Y DNI — solo lectura -->
       <div class="field-group">
          <label class="field-label">Correo electrónico *</label>
          <mat-form-field appearance="fill" class="custom-field">
            <input matInput [value]="profile?.email" readonly>
          </mat-form-field>
       </div>
       <div class="field-group">
          <label class="field-label">DNI *</label>
          <mat-form-field appearance="fill" class="custom-field">
            <input matInput [value]="profile?.dni" readonly>
          </mat-form-field>
        </div>
      <!-- <mat-divider class="section-divider"></mat-divider> -->
        <div class="field-group">
          <label class="field-label">Legajo</label>
          <mat-form-field appearance="fill" class="custom-field">
            <input matInput readonly value="123456"> <!-- CAMBIAR POR VALOR EN FORMULARIO DE LEGAJO -->
          </mat-form-field> 
        </div>
        <div class="field-group">
          <label class="field-label">Apellido *</label>
          <mat-form-field appearance="fill" class="custom-field">
            <input matInput formControlName="lastName">
            <mat-error *ngIf="profileForm.get('lastName')?.hasError('required')">Obligatorio</mat-error>
          </mat-form-field>
        </div>
        
        <div class="field-group">
          <label class="field-label">Nombres *</label>
          <mat-form-field appearance="fill" class="custom-field">
            <input matInput formControlName="username">
            <mat-error *ngIf="profileForm.get('username')?.hasError('required')">Obligatorio</mat-error>
          </mat-form-field>
        </div>

        <div class="field-group">
          <label class="field-label">Teléfono de contacto *</label>
          <div class="phone-group">
            <mat-form-field appearance="fill" class="custom-field">
              <input matInput formControlName="phoneCode" inputmode="numeric" placeholder="Cod.Area">
            </mat-form-field>
            <mat-form-field appearance="fill" class="custom-field">
              <input matInput formControlName="phone" inputmode="numeric">
              <mat-error *ngIf="profileForm.get('phone')?.hasError('required')">El teléfono es obligatorio</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="field-group">
          <label class="field-label">CUIL (XX.XXXXXXXX.X) *</label>
          <mat-form-field appearance="fill" class="custom-field">
            <input matInput formControlName="cuil" inputmode="numeric" placeholder="Ej: 20-12345678-9" />
            <mat-error *ngIf="profileForm.get('cuil')?.hasError('required')">El CUIL es obligatorio</mat-error>
        <!-- <mat-error *ngIf="profileForm.get('cuil')?.hasError('pattern')">El CUIL debe tener el formato XX-XXXXXXXX-X</mat-error> -->
          </mat-form-field>
        </div>
        
        <div class="field-group">
          <label class="field-label">Fecha de nacimiento *</label>
          <mat-form-field appearance="fill" class="custom-field">          
            <input matInput [matDatepicker]="picker" formControlName="birthDate" [max]="maxBirthDate">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="field-group">
          <label class="field-label">Sexo *</label>
          <mat-form-field appearance="fill" class="custom-field">
            <mat-select formControlName="gender">
              <mat-option value="-">-No especificado-</mat-option>
              <mat-option value="M">Masculino</mat-option>
              <mat-option value="F">Femenino</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      <div *ngIf="profileSuccess" class="msg-success">{{ profileSuccess }}</div>
      <div *ngIf="profileError" class="msg-error">{{ profileError }}</div>
      <!-- MENSAJE EN ROJO DE CAMPOS OBLIGATORIOS

        <p class="required-note">(*) Nombre y Apellido son obligatorios</p>

        <div *ngIf="profileSuccess" class="msg-success">{{ profileSuccess }}</div>
        <div *ngIf="profileError" class="msg-error">{{ profileError }}</div>
       -->
      </div>
      <div class="save-area">
        <button type="button" class="save-btn" (click)="saveProfile()" [disabled]="profileSaving">
          <mat-spinner *ngIf="profileSaving" diameter="18" class="btn-spinner"></mat-spinner>
          <span>{{ profileSaving ? 'Guardando...' : 'Guardar cambios' }}</span>
        </button>
      </div>
      </form>
    </mat-card-content>

    <!-- <mat-card-actions align="end">
      <button mat-raised-button color="primary" [disabled]="profileSaving" (click)="saveProfile()">
        <mat-spinner *ngIf="profileSaving" diameter="18" class="btn-spinner"></mat-spinner>
        <span>{{ profileSaving ? 'Guardando...' : 'Guardar cambios' }}</span>
      </button>
    </mat-card-actions> -->
  </mat-card> 

  <!-- =============================================
       CAMBIAR CONTRASEÑA
  ============================================= -->
  <mat-card class="profile-card">
    <div class="section-badge2">
      <mat-icon>lock_outline</mat-icon>
      <span>Cambiar contraseña</span>
    </div>

    <mat-card-content>
      <form [formGroup]="passwordForm" >
      
      <div class="password-layout">
      <div class="password-fields">
        
        <div class="field-group">
          <label class="field-label">Contraseña actual</label>
          <mat-form-field appearance="fill" class="custom-field">
            <input matInput [type]="hideCurrentPassword ? 'password' : 'text'" formControlName="currentPassword"/>
            <button mat-icon-button matSuffix type="button" (click)="hideCurrentPassword = !hideCurrentPassword">
              <mat-icon>{{ hideCurrentPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>
            <mat-error *ngIf="passwordForm.get('currentPassword')?.invalid && passwordForm.get('currentPassword')?.touched">
              La contraseña actual es obligatoria</mat-error>
          </mat-form-field>
        </div>
        <div class="field-group">
          <label class="field-label">Contraseña nueva</label>
          <mat-form-field appearance="fill" class="custom-field">
            <input matInput [type]="hideNewPassword ? 'password' : 'text'" formControlName="newPassword"/>
            <button mat-icon-button matSuffix type="button" (click)="hideNewPassword = !hideNewPassword">
              <mat-icon>{{ hideNewPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>
            <mat-error *ngIf="newPassword?.invalid && newPassword?.touched">Ingrese una contraseña válida</mat-error>
          </mat-form-field>
        </div>

        <div class="field-group">
          <label class="field-label">Confirmar contraseña *</label>
          <mat-form-field appearance="fill" class="custom-field">
            <input matInput [type]="hideConfirmPassword ? 'password' : 'text'" formControlName="confirmPassword"/>
            <button mat-icon-button matSuffix type="button" (click)="hideConfirmPassword = !hideConfirmPassword">
              <mat-icon>{{ hideConfirmPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>
            <mat-error *ngIf="passwordForm.hasError('passwordMismatch')">Las contraseñas no coinciden</mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="password-side">
          <span>Recordá que debe tener:</span>
        <div class="password-rules">
          <span [class.valid]="hasMinLength()">• Mínimo 8 caracteres</span>
          <span [class.valid]="hasUpperCase()">• Una mayúscula</span>
          <span [class.valid]="hasLowerCase()">• Una minúscula</span>
          <span [class.valid]="hasSpecialChar()">• Algún caracter especial (+[^!¿ etc)</span>
        </div>

        <div *ngIf="passwordSuccess" class="msg-success">{{ passwordSuccess }}</div>
        <div *ngIf="passwordError" class="msg-error">{{ passwordError }}</div>

        <div class="save-area">
          <button type="button" class="save-btn" (click)="changePassword()" [disabled]="passwordSaving">
            <mat-spinner *ngIf="passwordSaving" diameter="18" class="btn-spinner"></mat-spinner>
            <span>{{ passwordSaving ? 'Guardando...' : 'Guardar cambios' }}</span>
          </button>
        </div>
      </div>
      </div>
      </form>
    </mat-card-content>

  <!--  <mat-card-actions align="end">
      <button mat-raised-button color="primary" [disabled]="passwordSaving" (click)="changePassword()">
        <mat-spinner *ngIf="passwordSaving" diameter="18" class="btn-spinner"></mat-spinner>
        <span>{{ passwordSaving ? 'Guardando...' : 'Cambiar contraseña' }}</span>
      </button>
    </mat-card-actions> -->
  </mat-card> 
  <!-- <mat-card class="profile-card">
    <div class="section-badge2">
      <mat-icon>lock_outline</mat-icon>
      <span>Cambiar contraseña</span>
    </div>

    <mat-card-content>
      <form [formGroup]="passwordForm" >

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Contraseña actual</mat-label>
          <input matInput [type]="hideCurrentPassword ? 'password' : 'text'" formControlName="currentPassword"/>
          <button mat-icon-button matSuffix type="button" (click)="hideCurrentPassword = !hideCurrentPassword">
            <mat-icon>{{ hideCurrentPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
          <mat-error *ngIf="passwordForm.get('currentPassword')?.hasError('required')">Ingresá tu contraseña actual</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Nueva contraseña</mat-label>
          <input matInput [type]="hideNewPassword ? 'password' : 'text'" formControlName="newPassword"/>
          <button mat-icon-button matSuffix type="button" (click)="hideNewPassword = !hideNewPassword">
            <mat-icon>{{ hideNewPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
          <mat-error *ngIf="newPassword?.invalid && newPassword?.touched">No cumple los requisitos</mat-error>
        </mat-form-field>

        <div class="password-rules">
          <span [class.valid]="hasMinLength()">• Mínimo 8 caracteres</span>
          <span [class.valid]="hasUpperCase()">• Una mayúscula</span>
          <span [class.valid]="hasLowerCase()">• Una minúscula</span>
          <span [class.valid]="hasSpecialChar()">• Caracter especial</span>
        </div>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Confirmar nueva contraseña</mat-label>
          <input matInput [type]="hideConfirmPassword ? 'password' : 'text'" formControlName="confirmPassword"/>
          <button mat-icon-button matSuffix type="button" (click)="hideConfirmPassword = !hideConfirmPassword">
            <mat-icon>{{ hideConfirmPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
          <mat-error *ngIf="passwordForm.hasError('passwordMismatch') && passwordForm.get('confirmPassword')?.touched">
            Las contraseñas no coinciden
          </mat-error>
        </mat-form-field>

        <div *ngIf="passwordSuccess" class="msg-success">{{ passwordSuccess }}</div>
        <div *ngIf="passwordError" class="msg-error">{{ passwordError }}</div>

      </form>
    </mat-card-content>

    <mat-card-actions align="end">
      <button mat-raised-button color="primary" [disabled]="passwordSaving" (click)="changePassword()">
        <mat-spinner *ngIf="passwordSaving" diameter="18" class="btn-spinner"></mat-spinner>
        <span>{{ passwordSaving ? 'Guardando...' : 'Cambiar contraseña' }}</span>
      </button>
    </mat-card-actions>
  </mat-card>
   -->

</div>
