<ul class="navbar-nav ms-auto" id="navbar-right">

  <!-- Selector de idioma -->
  <li class="nav-item dropdown nav-lang-dropdown" [class.show]="langOpen">
    <a class="nav-link nav-icon-btn no-caret" (click)="toggleLang()">
      <div class="lang-icon">
        <i class="feather icon-globe"></i>
        <i class="feather icon-chevron-down caret-icon"></i>
      </div>
    </a>
    <div class="dropdown-menu dropdown-menu-end lang-menu" [class.show]="langOpen">
      <a class="dropdown-item" (click)="changeLanguage('es')" [class.lang-active]="currentLang === 'es'">
        🇪🇸 Español
      </a>
      <a class="dropdown-item" (click)="changeLanguage('en')" [class.lang-active]="currentLang === 'en'">
        🇺🇸 English
      </a>
    </div>
  </li>

  <!-- Perfil de usuario -->
  <li class="nav-item dropdown drp-user" [class.show]="profileOpen">
    <a class="nav-link" (click)="toggleProfile()">
      <i class="icon feather icon-settings"></i>
    </a>
    <div class="dropdown-menu dropdown-menu-end profile-notification" [class.show]="profileOpen">
      <div class="pro-head">
        <img src="assets/images/user/avatar-1.jpg" class="img-radius" alt="User Profile" />
        <span>{{ 'header.userMenu' | translate }}</span>
        <a href="#" class="dud-logout" (click)="handleLogout()" [title]="'header.logout' | translate">
          <i class="feather icon-log-out"></i>
        </a>
      </div>
      <ul class="list-group list-group-flush pro-body">
        <li class="list-group-item">
          <a href="#" class="dropdown-item">
            <i class="feather icon-settings"></i> {{ 'header.settings' | translate }}
          </a>
        </li>
        <li class="list-group-item">
          <a [routerLink]="['/app/profile']" class="dropdown-item" (click)="closeAll()">
            <i class="feather icon-user"></i> {{ 'header.profile' | translate }}
          </a>
        </li>
        <li class="list-group-item">
          <a [routerLink]="['/app/messages']" class="dropdown-item" (click)="closeAll()">
            <i class="feather icon-mail"></i> {{ 'header.myMessages' | translate }}
          </a>
        </li>
        <li class="list-group-item">
          <a href="#" class="dropdown-item" (click)="handleLogout()">
            <i class="feather icon-log-out"></i> {{ 'header.logout' | translate }}
          </a>
        </li>
      </ul>
    </div>
  </li>

</ul>
