<div class="topbar-actions">
<!-- Dark mode toggle: hidden until implemented -->

<!-- Usuario logueado -->
<div class="session-user" *ngIf="user$ | async as user">
  <span class="session-user-name">{{ user.username }} {{ user.lastName }}</span>
  <span class="session-user-dni" *ngIf="user.dni">DNI {{ user.dni }}</span>
</div>

<!-- User menu -->
<button mat-icon-button class="action-btn profile-btn" [matMenuTriggerFor]="userMenu" matTooltip="Mi cuenta">
  <mat-icon>account_circle</mat-icon>
</button>

<mat-menu #userMenu="matMenu">
  <button mat-menu-item [routerLink]="['/app/profile']">
    <mat-icon>person</mat-icon> {{ 'header.profile' | translate }}
  </button>

  <button mat-menu-item [routerLink]="['/app/messages']">
    <mat-icon>mail</mat-icon> {{ 'header.myMessages' | translate }}
  </button>

  <mat-divider></mat-divider>
  
  <button mat-menu-item (click)="handleLogout()">
    <mat-icon>logout</mat-icon> {{ 'header.logout' | translate }}
  </button>
</mat-menu>
</div>