<div class="topbar-actions">
<!-- Dark mode toggle: hidden until implemented -->


<!-- Language selector -->
<button mat-icon-button class="action-btn" [matMenuTriggerFor]="langMenu" matTooltip="Idioma">
  <mat-icon>language</mat-icon>
</button>

<mat-menu #langMenu="matMenu">
  <button mat-menu-item (click)="changeLanguage('es')"> <!--- [class.font-weight-bold]="currentLang === 'es'" -->
    <mat-icon>flag</mat-icon> Español
  </button>
  <button mat-menu-item (click)="changeLanguage('en')"><!--- [class.font-weight-bold]="currentLang === 'en'"-->
    <mat-icon>flag</mat-icon> English
  </button>
</mat-menu>

<!-- User menu -->
<button mat-icon-button class="action-btn profile-btn" [matMenuTriggerFor]="userMenu" matTooltip="Mi cuenta">
  <mat-icon>account_circle</mat-icon>
</button>

<mat-menu #userMenu="matMenu">
  <button mat-menu-item [routerLink]="['/app/profile']">
    <mat-icon>person</mat-icon> {{ 'header.profile' | translate }}
  </button>

  <button mat-menu-item [routerLink]="['/app/messages']">
    <mat-icon>mail</mat-icon> {{ 'header.myMessages' | translate }}
  </button>

  <mat-divider></mat-divider>
  
  <button mat-menu-item (click)="handleLogout()">
    <mat-icon>logout</mat-icon> {{ 'header.logout' | translate }}
  </button>
</mat-menu>
</div>